[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/bundle/dracula-theme"]
	path = bundle/bundle/dracula-theme
	url = git@github.com:zenorocha/dracula-theme.git
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:zenorocha/dracula-theme.git
